modules = ["python-3.11"]
[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 33121233

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 8080
externalPort = 80
